<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="constructor">

    <bean id="person" class="pers.masteryourself.tutorial.spring.framework.autowiring.bean.Person"/>
    <bean id="dog1" class="pers.masteryourself.tutorial.spring.framework.autowiring.bean.Dog">
        <property name="name" value="dog1"/>
    </bean>
    <bean id="dog2" class="pers.masteryourself.tutorial.spring.framework.autowiring.bean.Dog">
        <property name="name" value="dog2"/>
    </bean>

</beans>