<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="loggingAspect" class="pers.masteryourself.tutorial.spring.framework.aop.config.LoggingAspect"/>

    <bean id="personService" class="pers.masteryourself.tutorial.spring.framework.aop.service.PersonService"/>

    <aop:config>
        <aop:aspect ref="loggingAspect">
            <aop:pointcut id="loggingPointcut"
                          expression="execution(* pers.masteryourself.tutorial.spring.framework.aop.service..*.save*(..))"/>
            <aop:before method="beforeMethod" pointcut-ref="loggingPointcut"/>
            <aop:after method="afterMethod" pointcut-ref="loggingPointcut"/>
            <aop:after-returning method="afterReturning" pointcut-ref="loggingPointcut" returning="result"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="loggingPointcut" throwing="e"/>
            <!--<aop:around method="aroundMethod" pointcut-ref="loggingPointcut"/>-->
        </aop:aspect>
    </aop:config>

</beans>